.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
    background: var(--background-light);
  }
  
  .not-found-container h1 {
    font-size: 3rem;
    color: var(--primary-color);
  }
  
  .not-found-container p {
    font-size: 1.2rem;
    color: var(--text-dark);
    margin: var(--space-sm) 0;
  }

  [dir="rtl"] .not-found-container {
    text-align: right;
  }
  
  [dir="rtl"] .primary-button {
    margin-right: 0;
    margin-left: 8px;
  }